@{
    ViewBag.Title = "Home";
}

@model IQueryable<Book>
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Bookstore</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Reading is the portal to any adventure. Our selection of books will start you on the journey you are searching for.</h2>
            <div class="text-white mb-5">
                <center>
                    <table>
                        <thead>
                            <tr><th>Book ID</th><th>Title</th><th>Author</th><th>Publisher</th><th>Classification</th><th>Category</th><th>ISBN</th><th>Price</th></tr>
                        </thead>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.BookId</td>
                                <td>@x.Title</td>
                                <!--Concatenate author name-->
                                <td>@x.AuthorFname @x.AuthorMiddle @x.AuthorLname</td>
                                <td>@x.Publisher</td>
                                <td>@x.Classification</td>
                                <td>@x.Category</td>
                                <td>@x.ISBN</td>
                                <td>@x.Price</td>
                            </tr>
                        }
                    </table>
                </center>
            </div>
        </div>
    </div>
</header>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Bookstore 2021</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="~/js/scripts.js"></script>